/* start code of add product css*/

/* Add padding to containers */

.container3{
	margin-top:-10px;
	padding:16px;
	border-style: solid;
	border-color: coral;
	margin-left:100px;
	margin-right:100px;
	background-color:white;
	border-radius:10px;
	
	
}
.container3 table{
	margin-left:100px;
    margin-right:50px;
	
	
}


/* Full-width input fields */
input[type=text], input[type=password],textarea,file {
  width:200px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color:gray;
  outline: solid white;
  color:white;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  margin-left:130px;
  margin-right:50px;
  margin-top:20px;
  border: none;
  cursor: pointer;
  border-radius:10px;
  width: 100%;
  opacity: 0.9;
  height="200px";
}

.btn:hover {
  opacity: 1;
  background-color:#a89b32;
}
/* end code of add product css*/
